@CHARSET "UTF-8";
@CHARSET "UTF-8";
	body{
		margin:0px;
		padding:0px;
		font-size:14px;
		background-color:#9999FF;
		overflow:hidden:
		text-align:center;		
	}
	#RegisterinputArea{
		border:3px solid green;
		margin:auto;
		background-image:url('register.png');
		width:869px;
		height:265px;

	}
	#title1{
		font-size:30px;
		text-transform:uppercase;
		position:absolute;
		top:35%;
		left:30%;
	}	
	#content1{
		position:absolute;
		top:36%;
		left:45%;	
	}
	#nameMessage{
		color:blue;
		position:absolute;
		top:36%;
		left:60%;	
		font-size:20px;
	}
	#title2{
		font-size:30px;
		text-transform:uppercase;
		position:absolute;
		top:45%;
		left:30%;
	}
	#content2{
		position:absolute;
		top:46%;
		left:45%;
	}
	#passwdMessage{
		color:blue;
		position:absolute;
		top:46%;
		left:60%;
		font-size:20px;
	}
	#title3{
		font-size:30px;
		text-transform:uppercase;
		position:absolute;
		top:55%;
		left:30%;
	}
	#content3{
		position:absolute;
		top:56%;
		left:45%;

	}
	#passwdMessage2{
		color:blue;
		position:absolute;
		top:56%;
		left:60%;
		font-size:20px;
	}
	#submit{
		position:absolute;
		top:75%;
		left:40%;

	}
	#login{
		position:absolute;
		top:75%;
		left:60%;

	}
	#statusMessage{
		color:red;
		position:absolute;
		top:67%;
		left:40%;
		font-size:20px;
	}
