@CHARSET "UTF-8";
	body{
		margin:0px;
		padding:0px;
		font-size:14px;
		background-color:#9999FF;
		overflow:hidden:
		text-align:center;		
	}
	#inputArea{
		border:3px solid green;
		margin:auto;
		background-image:url('login.png');
		width:869px;
		height:265px;

	}
	#title1{

		font-size:40px;
		text-transform:uppercase;
		position:absolute;
		top:40%;
		left:30%;
	}	
	#content1{
		position:absolute;
		top:41.5%;
		left:45%;	
	}
	#nameMessage{
		color:blue;
		position:absolute;
		top:41.5%;
		left:60%;	
		font-size:20px;
	}
	#title2{
		font-size:40px;
		text-transform:uppercase;
		position:absolute;
		top:50%;
		left:30%;
	}
	#content2{
		position:absolute;
		top:51.5%;
		left:45%;

	}
	#passwdMessage{
		color:blue;
		position:absolute;
		top:51.5%;
		left:60%;
		font-size:20px;
	}
	#login{
		position:absolute;
		top:75%;
		left:40%;

	}
	#register{
		position:absolute;
		top:75%;
		left:60%;

	}
	#statusMessage{
		color:red;
		position:absolute;
		top:67%;
		left:40%;
		font-size:20px;
	}
	#randomImageInput{
		position:absolute;
		top:60%;
		left:40%;
	}
	#randomImage{
		position:absolute;
		top:60%;
		left:55%;
	}